## DataFrames

Tabular DS
Can be n.m dimensional

In [ ]:
import pandas as pd

d1 = pd.DataFrame({"Name": ["Max", "Monica", "Ella", "Matt", "Amy"], "Scores": [99,95,90,87,85]}) #.DataFrame() is a constructor, and not a funcn., hence first letter capital
print(d1)
print(d1.shape)

     Name  Scores
0     Max      99
1  Monica      95
2    Ella      90
3    Matt      87
4     Amy      85
(5, 2)

In [69]:
d2 = pd.DataFrame({"Name": ["Max", "Monica", "Ella", "Matt", "Amy"], "Score": [99,95,90,87,85]}, index=["1", "2", "3","4","5"]) #.DataFrame() is a constructor, and not a funcn., hence first letter capital
print(d2)
print(d2.shape)

marksMax = d2.loc["1"]
print(marksMax)

studName = str(input(f"\nEnter your ID: "))
print(f"\nYour score is {d2.at[studName, 'Score']}")

     Name  Score
1     Max     99
2  Monica     95
3    Ella     90
4    Matt     87
5     Amy     85
(5, 2)
Name     Max
Score     99
Name: 1, dtype: object

Your score is 95

### Adding a column

In [70]:
d2["Age"] = [21,22,21,22,20]

print(d2)

     Name  Score  Age
1     Max     99   21
2  Monica     95   22
3    Ella     90   21
4    Matt     87   22
5     Amy     85   20

### Adding a new row

In [72]:
#Create new DFs and concatenate

d2TempRow = pd.DataFrame([{"Name" : "Ron", "Score" : 89, "Age" : 22}, {"Name" : "Mia", "Score" : 88, "Age" : 23}], index = (6,7)) #can add new dicts., for each new row

d2 = pd.concat([d2, d2TempRow])

print(d2)
# print(d2.describe())
print(d2.info)

     Name  Score  Age
1     Max     99   21
2  Monica     95   22
3    Ella     90   21
4    Matt     87   22
5     Amy     85   20
6     Ron     89   22
7     Mia     88   23
6     Ron     89   22
7     Mia     88   23
<bound method DataFrame.info of      Name  Score  Age
1     Max     99   21
2  Monica     95   22
3    Ella     90   21
4    Matt     87   22
5     Amy     85   20
6     Ron     89   22
7     Mia     88   23
6     Ron     89   22
7     Mia     88   23>

In [76]:
print(d2.info())
print(d2.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 1 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    9 non-null      object
 1   Score   9 non-null      int64
 2   Age     9 non-null      int64
dtypes: int64(2), object(1)
memory usage: 288.0+ bytes
None
           Score        Age
count   9.000000   9.000000
mean   90.000000  21.777778
std     4.330127   0.971825
min    85.000000  20.000000
25%    88.000000  21.000000
50%    89.000000  22.000000
75%    90.000000  22.000000
max    99.000000  23.000000