## Importing

Importing CSV, Excel, Json, Parquet, etc. files via Pandas

In [4]:
import pandas as pd

d3 = pd.read_csv("D:\\Datasets\\linearRegression\\Salary_dataset.csv")

d3.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [ ]:
import pandas as pd

d4 = pd.read_csv("D:\\Datasets\\multipleLinearRegression\\CarPrice_Assignment.csv")

d4.head()

d4s = d4.iloc[:, :5]

d4s.head()
d4s.shape

(205, 5)