## Selection

In [20]:
import pandas as pd

d5 = pd.read_csv("D:\\Datasets\\multipleLinearRegression\\CarPrice_Assignment.csv")

d5.head()

# print(d5.query("d5.loc['CarName'] == 'audi 100ls'"))
print(d5.query("CarName == 'audi 100ls'"))
d5[d5['CarName'].str.contains("alfa", case=False)]

   car_ID  symboling     CarName fueltype aspiration doornumber carbody  \
4       5          2  audi 100ls      gas        std       four   sedan
6       7          1  audi 100ls      gas        std       four   sedan

  drivewheel enginelocation  wheelbase  ...  enginesize  fuelsystem  \
4        4wd          front       99.4  ...         136        mpfi
6        fwd          front      105.8  ...         136        mpfi

   boreratio  stroke compressionratio horsepower  peakrpm citympg  highwaympg  \
4       3.19     3.4              8.0        115     5500      18          22
6       3.19     3.4              8.5        110     5500      19          25

     price
4  17450.0
6  17710.0

[2 rows x 26 columns]

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0

### Selcn. by colmn(s)

In [33]:
d6 = d5["CarName"]
print(d6.head(), d6.tail())

d6_1 = d5[["CarName", "carbody", "horsepower"]]
d6_1.head()

0          alfa-romero giulia
1         alfa-romero stelvio
2    alfa-romero Quadrifoglio
3                 audi 100 ls
4                  audi 100ls
Name: CarName, dtype: object 200    volvo 145e (sw)
201        volvo 144ea
202        volvo 244dl
203          volvo 246
204        volvo 264gl
Name: CarName, dtype: object

                    CarName      carbody  horsepower
0        alfa-romero giulia  convertible         111
1       alfa-romero stelvio  convertible         111
2  alfa-romero Quadrifoglio    hatchback         154
3               audi 100 ls        sedan         102
4                audi 100ls        sedan         115

### Selcn. by row(s)

In [ ]:
d7 = d5.iloc[:5,:5]
d7

# print(d5[["CarName"], ["fueltype", "stroke"]])
# print(d5.loc["CarName", []])

   car_ID  symboling                   CarName fueltype aspiration
0       1          3        alfa-romero giulia      gas        std
1       2          3       alfa-romero stelvio      gas        std
2       3          1  alfa-romero Quadrifoglio      gas        std
3       4          2               audi 100 ls      gas        std
4       5          2                audi 100ls      gas        std