## Filtering

In [18]:
import pandas as pd

d8 = pd.read_csv("D:\\Datasets\\multipleLinearRegression\\CarPrice_Assignment.csv")

d8s = d8.iloc[:,:5]
d8s

# d8s = pd.concat(d8s, d8['carbody'])
d8s = pd.concat([d8s, d8['carbody']])
d8s

     car_ID  symboling                   CarName fueltype aspiration carbody
0       1.0        3.0        alfa-romero giulia      gas        std     NaN
1       2.0        3.0       alfa-romero stelvio      gas        std     NaN
2       3.0        1.0  alfa-romero Quadrifoglio      gas        std     NaN
3       4.0        2.0               audi 100 ls      gas        std     NaN
4       5.0        2.0                audi 100ls      gas        std     NaN
..      ...        ...                       ...      ...        ...     ...
200     NaN        NaN                       NaN      NaN        NaN   sedan
201     NaN        NaN                       NaN      NaN        NaN   sedan
202     NaN        NaN                       NaN      NaN        NaN   sedan
203     NaN        NaN                       NaN      NaN        NaN   sedan
204     NaN        NaN                       NaN      NaN        NaN   sedan

[410 rows x 6 columns]

In [24]:
# carBody = str(input(f"Enter the type of body: "))
# print(d8s[d8s['carbody'].str.contains(carBody, case=False)]) #Not working due to NaN vals
# print(d8s[d8s['carbody']==carBody]) #Works, but returns all other fields as NaN, IDK why.

# sedans= d8s[d8s['carbody']=='sedan'] #Again, returns other fields as NaN.
# sedans